<div id="<%= dom_id family_session %>">
  <p>
    <strong>Name:</strong>
    <%= family_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= family_session.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= family_session.price %>
  </p>

</div>
