<h1>Editing family session</h1>

<%= render "form", family_session: @family_session %>

<br>

<div>
  <%= link_to "Show this family session", @family_session %> |
  <%= link_to "Back to family sessions", family_sessions_path %>
</div>
