<div id="<%= dom_id cake_smash_session %>">
  <p>
    <strong>Name:</strong>
    <%= cake_smash_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cake_smash_session.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cake_smash_session.price %>
  </p>

</div>
