<h1>Editing cake smash session</h1>

<%= render "form", cake_smash_session: @cake_smash_session %>

<br>

<div>
  <%= link_to "Show this cake smash session", @cake_smash_session %> |
  <%= link_to "Back to cake smash sessions", cake_smash_sessions_path %>
</div>
