<p style="color: green"><%= notice %></p>

<h1>Cake smash sessions</h1>

<div id="cake_smash_sessions">
  <% @cake_smash_sessions.each do |cake_smash_session| %>
    <%= render cake_smash_session %>
    <p>
      <%= link_to "Show this cake smash session", cake_smash_session %>
    </p>
  <% end %>
</div>

<%= link_to "New cake smash session", new_cake_smash_session_path %>
