<div id="<%= dom_id newborn_session %>">
  <p>
    <strong>Name:</strong>
    <%= newborn_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= newborn_session.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= newborn_session.price %>
  </p>

</div>
