<div id="<%= dom_id child_session %>">
  <p>
    <strong>Name:</strong>
    <%= child_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= child_session.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= child_session.price %>
  </p>

</div>
