<h1>Editing child session</h1>

<%= render "form", child_session: @child_session %>

<br>

<div>
  <%= link_to "Show this child session", @child_session %> |
  <%= link_to "Back to child sessions", child_sessions_path %>
</div>
