<div id="<%= dom_id baby_session %>">
  <p>
    <strong>Name:</strong>
    <%= baby_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= baby_session.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= baby_session.price %>
  </p>

</div>
